[hosts]
{% for host in groups["all"]|sort %}
{{ hostvars[host]["ansible_hostname"] }}
{% endfor %}

{% set comma = joiner(",") %}
[backend-setup]
devices={% for device,options in ansible_devices.iteritems()|sort(attribute='0') %}{{ comma() + device if options.model == "VBOX HARDDISK" and options.partitions.items()|length == 0 else '' }}{% endfor %}


[peer]
action=probe
